table{
    table-layout: fixed;
}
table,tr{
    width:100%;
    display: table;
    font-size: 0.7em;
    /* margin:1em; */
    border-collapse: collapse;
}
td,th{
    padding: 1.5em;
}
td,th{
    border:1px lightgray solid;
    width:19%;
}
/* .table-func{
    width:5em;
} */

.func-div>div{
    padding: 0 1.9em;
}
th{
    font-size: 0.6em;
}
td{
    font-size: 1.4em;
    font-weight: 600;
}